{% extends 'base.html' %}

{% block css %}

{% endblock %}

{% block content %}

    <div class="container ml20 mt-3">
        <p class="text-muted">Folders</p>
        <div class="row">
            {% for folder in  folder_list %}
                <a href="{{ folder.get_list_url }}?id={{ folder.pk }}" class="">
                    <div class="card card-style">
                        <div class="card-body">
                            <h6 class="card-title"><i class="fas fa-folder"></i>
                                <span style="color:{{ folder.text_color }};" class="ml20">
                                    {{ folder.name|truncatechars:18 }}
                                </span>
                            </h6>
                        </div>
                    </div>
                </a>
            {% empty %}
                <p class="text-muted ml40">Sorry, no folders here.</p>
            {% endfor %}
        </div>
    </div>

    <div class="container ml20 mt-3">
        <p class="text-muted">Files</p>
        <div class="row">
            {% for file in  file_list %}
                <div class="card card-style">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                        </small></p>
                        <h6 class="card-title"><i class="fas fa-file{{ file.icon }}"></i>
                            <span class="ml5 mr15">{{ file.name|truncatechars:18 }}</span>
                            <span class="float-right"><a href="#"><i class="fas fa-download"></i></a></span>
                        </h6>
                    </div>
                </div>
            {% empty %}
                <p class="text-muted ml40">Sorry, no files in this folder.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
