<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <mata name="author" content="nahidsaikat">
    <mata name="description" content="Link Manager">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<!--    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>-->
    <script src="/fontawesome/js/solid.js"></script>

    {% block css %}{% endblock %}

    <title>Link Manager</title>
  </head>
  <body>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="text-center brand">
                <a class="large-font text-white" href="/">
                    File Manager
                </a>
            </div>
            <hr/>

            <ul class="list-unstyled components text-white">
                <li class="">
                    <a class="text-white" data-toggle="modal" data-target="#folderModal" data-whatever="@mdo">
                    <i class="fas fa-folder-plus mr15 lightgray"></i>Folder</a>
                </li>
                <li class="">
                    <a class="text-white" data-toggle="modal" data-target="#fileModal">
                    <i class="fas fa-file-upload ml-1 mr15 lightgray"></i>Upload File</a>
                </li>
            </ul>
            <div class="text-center bottom mb55">
                <span>Sort by</span>
                <a class="text-white" id="time_sort" href="/">
                    time</a>
                |
                <a class="text-white" id="name_sort" href="/">
                    name</a>
            </div>
        </nav>
        <!-- Page Content -->
        <div id="content">
            {% block content %}
            {% endblock %}
            <div class="modal fade" id="folderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create New Folder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveFolder">Send message</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">New message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name1">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text1"></textarea>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveFile">Send message</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small green fixed-bottom text-white">
        <div class="footer-copyright text-center py-3 mr-3"> © 2019 Copyright:
            <a href="https://nahidsaikat.com/"> Nahid Saikat</a>
        </div>
    </footer>

    <script src="/jquery/js/jquery.min.js"></script>
    <script src="/jquery/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/fontawesome/js/all.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


    <script>
      $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
             theme: "minimal"
        });
      });
      $('#folderModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('whatever') // Extract info from data-* attributes
          var modal = $(this)
          // modal.find('.modal-title').text('New message to ' + recipient)
          modal.find('.modal-body input').val(recipient)
          });
      $("#saveFolder").click(function(){
          alert('nothing');
          $("#folderModal").modal('hide');
      });

      $('#fileModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('whatever') // Extract info from data-* attributes
          var modal = $(this)
          // modal.find('.modal-title').text('New message to ' + recipient)
          modal.find('.modal-body input').val(recipient)
      });
      $("#saveFile").click(function(){
          alert('nothing');
          $("#fileModal").modal('hide');
      });

      $("#time_sort").click(function(event){
          event.preventDefault();
          var main_url = window.location.href;
          var split_url = main_url.split('&'), url;

          if (split_url[0].includes('?')){
              url = split_url[0] + '&sort=time';
          }
          else{
              url = split_url[0] + '?sort=time';
          }

          window.location.replace(url);
      });

      $("#name_sort").click(function(event){
          event.preventDefault();
          var main_url = window.location.href;
          var split_url = main_url.split('&'), url;

          if (split_url[0].includes('?')){
              url = split_url[0] + '&sort=name';
          }
          else{
              url = split_url[0] + '?sort=name';
          }

          window.location.replace(url);

      });
    </script>

    {% block js %}{% endblock %}
  </body>
</html>
