[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
factory-boy = "*"
pytest-django = "*"
pytest = "==4.6.4"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.7"
